MarioPresenter/Library/
MarioPresenter/ProjectSettings/
MarioPresenter/Temp/UnityLockfile
MarioPresenter/Temp/
PresentationCarrousel/PresentationCarrousel/Library/
PresentationCarrousel/PresentationCarrousel/Temp/
